@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
h1,
h2 {
  color: #444;
}

h3 {
  color: #999;
}

.btn {
  background-color: #f05462;
  color: white;
  padding: 5px 10px;
  text-align: center;
  border-radius: 3px;
}

.btn:hover {
  background-color: white;
  color: #f05462;
  padding: 3px 8px;
  text-align: center;
  border-radius: 3px;
  border: 2px solid #f05462;
}
